.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.02);
}
.navBg {
  padding: 14px;
  background: var(--Black, #191919);
}
.forMainStone {
  color: #fff;
  /* B7 Regular Proxima */
  font-family: Proxima Nova;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.navItems {
  display: flex;
  gap: 24px;
  align-items: center;
}
.prgfileImageName {
  display: flex;
  margin-left: 21px;
  gap: 14px;
  align-items: center;
  position: relative;
}
.nameButton > p {
  color: #fff;
  font-family: Euclid Circular B;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.nameButton > svg {
  color: #fff;
  font-family: Euclid Circular B;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.calender {
  position: relative;
}
.shownCalendar {
  position: absolute;
  top: 37px;
  left: -111px;
  z-index: 999;
}
.calendarTop {
  background: #171717;
  box-shadow: 0px 3.206px 6.413px 0px rgba(0, 0, 0, 0.02);
  display: inline-flex;
  padding: 12.85px 24px 13.15px 22.746px;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  gap: 257.254px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendarTop p:nth-child(1) {
  color: #fff;
  font-family: Euclid Circular B;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.calendarTop div {
  cursor: pointer;
}
.more {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 8px 0px;
  position: absolute;
  top: 45px;
  left: -12px;
  z-index: 99999;
  border-radius: 12px;
  width: 196px;
}
.more p {
  color: var(--Deep-Gray, #3d3d3d);
  text-align: center;
  border-radius: 8px;
  padding: 7px 21px;
  background: var(--Main-White, #fff);
  font-family: Euclid Circular B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.moreInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nameButton {
  display: flex;
  align-items: center;
  gap: 10px;
}
