@font-face {
  font-family: "Proxima Nova";
  src: url("/Assets/milliard-cufonfonts/Rene Bieder  Milliard Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular B";
  src: url("/Assets/euclid-circular-b-cufonfonts/Euclid Circular B Regular.ttf");
  font-weight: 500;
  font-style: normal;
}
body {
  background: #fbfcfc;
}
